# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/New_York
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# The directory where data and configuration will be stored.
ROOT=/
# Containers macvlan network
MEDIA_INTERFACE=eth0
MEDIA_SUBNET=192.168.1.0/24
MEDIA_GATEWAY=192.168.1.1
# Services IP
DELUGE_IP=192.168.1.4
SONARR_IP=192.168.1.5
RADARR_IP=192.168.1.6
BAZARR_IP=192.168.1.7
READARR_IP=192.168.1.8
PROWLARR_IP=192.168.1.9
JELLYFIN_IP=192.168.1.10
ORGANIZR_IP=192.168.1.11
JELLYSEER_IP=192.168.1.12
# Jellyseer log level
LOG_LEVEL=debug
