# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/New_York
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# The directory where data and configuration will be stored.
ROOT=/
# Services IP
DELUGE_IP=192.168.1.5
SONARR_IP=192.168.1.6
RADARR_IP=192.168.1.7
BAZARR_IP=192.168.1.8
READARR_IP=192.168.1.9
PROWLARR_IP=192.168.1.10
JELLYFIN_IP=192.168.1.11
ORGANIZR_IP=192.168.1.12
JELLYSEER_IP=192.168.1.13
# Jellyseer log level
LOG_LEVEL=debug
