# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/New_York
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# The directory where data and configuration will be stored.
ROOT=/
# Services IP
NGINX_IP=192.168.1.5
DELUGE_IP=192.168.1.6
SONARR_IP=192.168.1.7
RADARR_IP=192.168.1.8
BAZARR_IP=192.168.1.9
READARR_IP=192.168.1.10
PROWLARR_IP=192.168.1.11
JELLYFIN_IP=192.168.1.12
ORGANIZR_IP=192.168.1.13
JELLYSEER_IP=192.168.1.14
# Jellyseer log level
LOG_LEVEL=debug
